@font-face {
  font-family: "UDEV Gothic JPDOC";
  src: url("/work/assets/fonts/UDEVGothicJPDOC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UDEV Gothic JPDOC";
  src: url("/work/assets/fonts/UDEVGothicJPDOC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body,
pre,
code {
  font-family: "UDEV Gothic JPDOC", monospace !important;
}